body{
    font-family: 'Hanken Grotesk';
}

#container{
    height: 1990px;
    display: grid;
    grid-template-rows: 2% 20% 3% 40% 23% 10%;
}


#row2-r1{
    display: flex;
    margin-top:2%;
    height:5%;
    justify-content: space-between;
    align-items: flex-end;
}

#row2-r1-c1{
    display:flex;
}
#row2-r1-c2{
    display: flex;
    grid-gap: 0.1%;
}
#nav-text{
    font-size: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#nav-box{
    border: 1px solid black;
    padding:0px 15px;
}
#contact-btn{
    background-color: black;
    border-radius: 2%;
    width:max-content;
    height: fit-content;
}
#nav-text2{
    font-size: 6px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

#nav-text{
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
#item-text{
    font-size: 7px;
    position: relative;
}

#row2-btn1{
    width: 10%;
    border-radius: 0;
    height: 74%;
    margin-top:5%;
    margin-right: 5%;
}

#nav-item1{
    border: 1px solid black
}
#row2-r1-c3{    
}
#search-bar1{
    border-radius:15px;
    width: 700px;
    height: 25px;
}
#search-btn{
    height: 32px;
    width: 100px;
    background-color:black;
    border-radius:15px;
}

#row2-r2{
    display: flex;
    justify-content: space-evenly;
}

#row2-r3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#row2-r4{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

#row2-r4-c1, #row2-r4-c2, #row2-r4-c3, #row2-r4-c4{
    display: grid;
    grid-template-rows: 50% 50%;
}

#row1, #row3{
    border-bottom: 1px solid;
    border-color: black;
}
#row3{
    display:flex;
    height:52%;
    justify-content:space-between;
}

#row4, #row5{
    border-bottom: 1px solid;
}

#row4{
    display: grid;
    grid-template-rows:15% 84% ;
}
#row4-1{
    display: grid;
    justify-content: center;
}
#item-grid{
    display: grid;
    grid-template-columns: 14% 14% 14% 14%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    row-gap: 36px;
    column-gap: 62px;
}
#items{
    display: grid;
    grid-template-rows: 90% 10%;
    height: 230px;
}
#subtle-text{
    font-size: 9px;
    font-family: 'Times New Roman', Times, serif;
    color: #2e2e27;
}
#item-text2{
    font-size: 4px;
    color: #2e2e27;
}
#item-text3{
    font-size: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#item-r2{
    display: grid;
    grid-template-rows: 50% 50%;
}
#row5{
    display: grid;
    grid-template-rows:33% 33% 33%; 
}
#square{
    border: 1px solid black;
}

#row5-1,#row5-2, #row5-3{
    border-bottom: 1px solid;
}
#book-btn{
    margin-bottom: 2px;
    background-color: black;
    border-radius: 2%;
    width: max-content;
    height: 26px;
}
}

#row5-1{
    display: grid;
    grid-template-columns: 50% 50%;
}
#row5-1-c1{
    display: flow-root;
    margin-left:4% ;
    margin-top:4% ;
}
#row5-text1{
    font-size: 8px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
#row5-text2{
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}
#row5-text3{
    font-size: 5px;
    font-family:'Courier New', Courier, monospace;
    color: 2e2e27;
}
#row5-text4{
    font-size: 6px;
    font-family:'Courier New', Courier, monospace;
    color: black;
}

#row5-2{
    display: grid;
    grid-template-rows: 65% 30%;
}

#row5-2r1{
    justify-content: center;
    display: flex;
}

#row5-2r2{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center
}
#item-r5-1{
    display: grid;
    grid-template-rows: 60% 40%;
}
#item-r5-c{
    width:max-content;
}
#row5-3r1{
    display: flex;
    justify-content: center;
}

#row5-3r2{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
}

#row5-items{
    display: flex;
}
#text-area{
    display: grid;
    grid-template-rows: 20% 80%;

}
#name-text{ 
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#info-text{
    font-size: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2e27
}

#row6{
    display: flex;
    justify-content: space-evenly;
    margin-top:3%;
}
#text1-row6{
    font-size:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;   
}
#text2-row6{
    font-size:5px;
    font-family: Arial, Helvetica, sans-serif;
}