#container{
    width:1440px;
    height: 1130px;
    display: grid;
    grid-template-rows: 30%  30%  30%  30% ;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#item1{
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 16% 20% 20% 20%;
    
}
#item2{
    display:grid;
    grid-template-rows:20% 80%;
}
#item3{
    display: grid;
    grid-template-columns: 50% 50%;
}
#it3-r1{
    display: grid;
    justify-content: center;
}
#it3-r21{
    margin-left: 130px;
}
#item4{
    display: grid;
    grid-template-columns: 50% 50%
}
#text1{
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color:#4949c2;
    margin-left: 44%;
}
#text2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:#4949c2;
    margin:0;   
}
#text3{
    font-size:21px;
    margin-left:8%;
}
#text4{
    font-size:21px;
}

#text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 119px;
    margin-bottom: 100px;
    margin-top: 39px;
}

#text1-i4{
    font-size:21px;    
}
#r1-r4{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap:5%;
}
#r1-r5{
    display: inline-flex;
    justify-content: space-evenly;
    
}
#i2-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    grid-template-rows: 50% 50%;
    grid-gap: 5%;
}

#name-input, #cta-button{
    border: 1px solid black;
    height: 74%;
    width:103%;

}
#cta-button{
    background-color:#4949c2;
    color:white;
}
#row2-2r{
    justify-content: center;
    display: flex;
}
#feature-box{
    display:grid;
    grid-template-columns: 20% 80%;
    height: 56px;
}
#feature-text2{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#feature-text1{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2%;
}
#profile{
    border: 1px solid black;
    border-radius: 30px;
}
#circle{
    border: 1px solid black;
    border-radius: 29px;
    height:100%;
    width:100%;
}